%% -*- mode:erlang -*-

{erl_opts,
 [
  warnings_as_errors,
  debug_info,
  {platform_define, "(?=^[0-9]+)(?!^17$)", time_correction},
  {parse_transform, lager_transform}
 ]}.

{recursive_cmds, [clean]}.

{cover_enabled, true}.
{cover_opts, [verbose]}.

{deps,
 [
  {lager, ".*", {git, "https://github.com/basho/lager.git", {tag, "3.2.0"}}},
  {eper, ".*", {git, "https://github.com/massemanet/eper.git", {branch, "master"}}},

  {parse_trans, ".*", {git, "https://github.com/uwiger/parse_trans.git", {tag, "3.0.0"}}},

  {ranch, ".*", {git, "https://github.com/extend/ranch.git", {tag, "1.2.1"}}},
  {cowboy, ".*", {git, "https://github.com/extend/cowboy.git", {tag, "1.0.4"}}},

  {netflow, ".*", {git, "/Users/grepz/Projects/netflow", {branch, "master"}}}

  %% {hooks, ".*", {git, "https://github.com/RGafiyatullin/hooks.git", {tag, "v0.1.2"}}},
  %% {orca, ".*", {git, "https://github.com/RGafiyatullin/orca.git", {tag, "v0.1.7"}}}
 ]
}.

{relx,
 [
  {release, { whistle, "0.1.0" }, [netsink, sasl, eper]},

  {sys_config, "./config/sys.config"},
  {vm_args, "./config/vm.args"},

  {dev_mode, true},
  {include_erts, false},

  {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
