%% -*- mode:erlang -*-
[
 {netsink, [
            {port, 2055},
            {ip_addr, {0,0,0,0}},
            {od_pool_sz, 10},
            {netflow_defs, "/Users/grepz/Projects/whistlev2/apps/netsink/priv/netflow_defs.config"}
           ]},
 {whistle, []},
 {lager, [
          {log_root, "log/"},
          {error_logger_hwm, 50},
          {handlers, [
                      {lager_console_backend, info},
                      {lager_file_backend, [{file, "error.log"}, {level, error}]},
                      {lager_file_backend, [{file, "info.log"}, {level, info}]},
                      {lager_file_backend, [{file, "debug.log"}, {level, debug}]}
                     ]}
         ]},
 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]}
].
