%% -*- mode:erlang -*-

[
 {types, [
          {in_bytes, 1,
           fun ({Length, Data}) ->
                   netflow_types:integer(Data)
           end},
          {in_pkts, 2,
           fun ({Length, Data}) ->
                   netflow_types:integer(Data)
           end},
          {ipv4_src_addr, 8,
           fun ({Length, Data}) ->
                   netflow_types:ip_addr(Data)
           end},
          {ipv4_dst_addr, 12,
           fun ({Length, Data}) ->
                   netflow_types:ip_addr(Data)
           end}
         ]
 }
].
